/*
Faça o apontamento do arquivo css no HTML.
●Para o body determine os seguintes estilos:
| Tamanho do texto em 12px .
| Familia da fonte -Helvetica Neue, Helvetica, Arial ou sem serifa.
| Cor do texto #444
*/

body {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
}

/*
●Para a id container determine os seguintes estilos:
| Largura máxima de 1128px.
*/
#container {
    max-width: 1128px;
}

/*
●Para todos os elementos <a> determine os seguintes estilos:
| Cor do texto #00ccff.
| Retire o estilo de hyperlink de todos os elementos.
| Tamanho do texto em 12px .
*/
a {
    color: #00ccff;
    text-decoration: none;
    font-size: 12px;
}

/*
    Para todos os parágrafos determine os seguintes estilos:
    | Tamanho do texto 20px.
    
    ● Para todos os elementos <a> determine os seguintes estilos:
    | Determine que ao passar o mouse os hyperlinks tenham sua decoração alterada para underline.
*/
p {
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

/*
Para todas as imagens determine os seguintes estilos:
|Largura máxima de 100%;

●Para a classe cabecalho determine os seguintes estilos:
| Largura de 100%.
| Altura de 48px.
|Margem do topo de 40px.
| Margem do rodapé de 40px.
*/

img {
    max-width: 100%;
}

.cabecalho {
    width: 100px;
    height: 48px;
    margin: 40px 0px;
}